<nav class="navbar navbar-expand-md navbar-dark bg-white fixed-top shadow-sm">
  <a class="navbar-brand text-success"
     href="">Customers <i class="far fa-address-card"></i> CRM</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-success"></span>
  </button>


  <div class="collapse navbar-collapse"
       id="navbarsExampleDefault">
    <ul class="navbar-nav m-auto">

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-success"
           href="#"
           id="dropdown01"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          {{ userEmail }}
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="dropdown01">
          <a (click)="onLoggedOut($event)"
             class="dropdown-item"
             href=""><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>